footer {
    background-color: #0c0a09;
}

.footerContainer {
    width: 100%;
    padding: 4.3rem 1.8rem 1.2rem;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 0.8rem;
    background-color: var(--cor-5);
    margin: 0.8rem;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2rem;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: var(--cor-1);
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: var(--cor-5);
    transition: 0.5s;
}

.footerBottom {
    background-color: black;
    padding: 1.2rem;
    text-align: center;
    width: 100%;
}

.nav ul{
    display: flex;
    justify-content: center;
}

