footer {
    background-color: var(--cor-2);
    padding: 1.5rem 0;

}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: auto;
}
.socialIcons{
    display: flex;
    gap: 1.5rem;
}

.socialIcons a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d1d5db;
}

.socialIcons a i {
    font-size: 2rem;
    color: var(--cor-5);
    opacity: 0.9;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.3s;
}

.footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-evenly;
    width: 100%;
}

footer .nav-footer ul{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
}