
#section_problematica {
    display: flex;
    flex-direction: column;
}

#section_problematica main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.problematica_features {
    border: 1px solid var(--cor-1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.2rem;
    box-shadow: 0px 2px 8px var(--cor-1);
    transition: all 0.3s;
    cursor: default;
}

.problematica_features:hover {
    scale: 105%;
}

.problematica_features span {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--cor-5);
}

.problematica_features i{
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
    width: max-content;
    background: var(--cor-5);
    color: var(--cor-2);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.problematica_features p{
    font-weight: 500;
}

@media (max-width: 768px) {
    #section_problematica main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}